@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./imgs/cable.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* * {
  outline: 1px solid lime;
} */
