@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: url('./imgs/cable.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}